<!--Created by the Ultimate Pro Kevin Do-->
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styles.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Staatliches">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <title>P4 Slackbots: Kevin and Abhijay</title>

    <!-- Defining format classses -->
    <style> 

      a:link, a:visited {
      color: white;
      text-shadow: none;
    }

    a:hover, a:active {
      color: #ff458a;
      text-decoration: none;
    }

    
    </style>
  </head>
  <body>

    <div class="navBar">
      <h1 style="font-size:1.5em; margin-top:5px; margin-left:10px">
      <a href="{{ url_for('home') }}">
        <img src="https://ca.slack-edge.com/TUDAF53UJ-USLACKBOT-sv41d8cd98f0-512" alt "Slackbot" width="35" height="35">
      </a>
      <span style="padding-left: 5px">P4 SLACKBOTS</span>
      <div class="navOptions"
      <span style="float:right; margin-right:1em">
          <a href="home.html" target="_self">HOME</a>
          <span> &emsp;
          <a href="kevin.html" target="_self">KEVIN</a>
          <span> &emsp;
          <a href="abhijay.html" target="_self">ABHIJAY</a>
      </span>
      </div>
      </h1>
    </div>

    

    <!-- Header banner -->
    <div class="Header">
    <h1 style="color:white; font-size:3em; margin-top:20px; margin-bottom:20px">AP COMPUTER SCIENCE PRINCIPLES</h1>
    </div>

    <!-- Our names and social links -->
    <div class="Names">
      <p style="text-align:center">
        <span style="text-align:left"
          <span>
          &#8205
          <a href="https://instagram.com/dv_a_bee" target="_blank"><i style="color:#00a5f8" class="fa fa-instagram"></i></a>
          <span>
          &#8205
          <a href="https://youtube.com/godlygoats" target="_blank"><i style="color:#00a5f8" class="fa fa-youtube-play"></i></a>
          <span>
          &#8205
          <a href="https://twitch.tv/godlygoats" target="_blank"><i style="color:#00a5f8" class="fa fa-twitch"></i></a>
          <span>
          &#8205
          <a href="https://github.com/dubshott" target="_blank"><i style="color:#00a5f8" class="fa fa-github"></i></a>
        </span>
          

        &nbsp;

        <span style="text-align:center"> 
          <span style:"float:left" title="Khan Academy Learner">Abhijay</span>
          <span>and</span>
          <span style:"float:right" title="Exploratory Learner">Kevin</span>
        </span>

        &nbsp;

        <span style'"text-align:right"
          <span>
          &#8205
          <a href="https://instagram.com/_kevintdo_" target="_blank"><i style="color:#ff458a" class="fa fa-instagram"></i></a>
          <span>
          &#8205
          <a href="https://youtube.com/albertpanicompaniYT" target="_blank"><i style="color:#ff458a" class="fa fa-youtube-play"></i></a>
          <span>
          &#8205
          <a href="https://twitch.tv/albertpanicompani" target="_blank"><i style="color:#ff458a" class="fa fa-twitch"></i></a>
          <span>
          &#8205
          <a href="https://github.com/kevin-dough" target="_blank"><i style="color:#ff458a" class="fa fa-github"></i></a>
        </span>
      </p>
    </div>

    <center><div>
        <div class="card" style="width:20rem" >
          <div class="card-body">
            <h5 class="card-title">Python Hello Series</h5>
            <h6 class="card-subtitle mb-2 text-muted">9/2/2020 - 10/9/2020</h6>
            <a style="font-family:Staatliches;position:relative;color:#171717;background-image: linear-gradient(#ff458a, #00a5f8);" class="btn" target="_blank" href="https://repl.it/@AbhijayDeevi/TableOfContents#betting.py" class="card-link">REPL.IT</a>
            <a style="font-family:Staatliches;position:relative;color:#171717;background-image: linear-gradient(#ff458a, #00a5f8);" class="btn" target="_blank" href="https://docs.google.com/document/d/1XaPZ--7wySEcW2FxqsHtjPz_ZBL5XkvMO3YKU3WnfuE/edit" class="card-link">PROJECT PLAN</a>
            <a style="font-family:Staatliches;position:relative;color:#171717;background-image: linear-gradient(#ff458a, #00a5f8);" class="btn" target="_blank" href="https://docs.google.com/document/d/1cgInchyVbaqsyMCdllki1TOAGtsrfMgecaU_sbCY7lY/edit" class="card-link">JOURNAL</a>
        </div>
      </div>
        &emsp;
        <div class="card" style="width:20rem" >
          <div class="card-body">
            <h5 class="card-title">Web Portfolio Series</h5>
            <h6 class="card-subtitle mb-2 text-muted">10/12/2020 - Present</h6>
            <a style="font-family:Staatliches;position:relative;color:#171717;background-image: linear-gradient(#ff458a, #00a5f8);" class="btn" target="_blank" href="https://github.com/kevin-dough/WebPortfolio" class="card-link">REPL.IT</a>
            <a style="font-family:Staatliches;position:relative;color:#171717;background-image: linear-gradient(#ff458a, #00a5f8);" class="btn" target="_blank" href="https://docs.google.com/document/d/105jwbIr-4cbkUsLuzsVs2iT0rq5AoKy_bZxHiKmyHqU/edit?usp=sharing" class="card-link">PROJECT PLAN</a>
            <a style="font-family:Staatliches;position:relative;color:#171717;background-image: linear-gradient(#ff458a, #00a5f8);" class="btn" target="_blank" href="https://docs.google.com/document/d/1eiWbGAY4qZC81iHmOXacXVoH7pn94lH2Zy-InckIoAM/edit" class="card-link">JOURNAL</a>
          </div>
          </div>
        </div>
</center>

  </body>
  </html>
<body style="background-color:#303030">